  .container {
    max-width: 960px;
    margin: 0 auto;
    background: #f9f9f9;
    font-size: 20px;
    padding: 25px;
  }

  .jumbotron {
    background-color: whitesmoke;
  }
  .parallax-one {
    background: url('https://www.yorkpress.co.uk/resources/images/11512493/') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
  }

  .parallax-two {
    background: url('../Images/christopher-gower-m_HRfLhgABo-unsplash.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
  }
.parallax-three {
  background: url('../Images/clark-tibbs-oqStl2L5oxI-unsplash.jpg') no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 500px;
}
